#!/bin/sh

DAYS={{postgresql_archive_cleanup_days}}
if [ "${DAYS}" -lt "1" ]; then
    echo "wrong days count"
    exit 1
fi
DIR={{postgresql_data_directory}}/archive/
PG_ARCHIVECLEANUP={{postgresql_bin_directory}}/pg_archivecleanup

FN=$(find ${DIR} -mtime +${DAYS} -printf '%f\n'|sort -r|head -n1)
if [ -z "${FN}" ]; then
    echo "no old logs"
    exit 0
fi

echo ${PG_ARCHIVECLEANUP} ${DIR} ${FN}
${PG_ARCHIVECLEANUP} ${DIR} ${FN}